@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-gray-900 bg-white;
}

.prose {
  @apply max-w-none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}